* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}




/* Global styles for the toast */
.Toastify__progress-bar {
  background-color: #eb0729 !important;
}
.Toastify__progress-bar--success {
  background-color: #eb0729 !important;
}
.Toastify__progress-bar--info {
  background-color: #309ed9 !important;
}
.Toastify__progress-bar--error {
  background-color: #e3332d !important;
}
.Toastify__progress-bar--warning {
  background-color: #edbd0e !important;
}

.Toastify__close-button {
  color: #eb0729 !important;
}
.Toastify__close-button--default {
  color: #eb0729 !important;
}
.Toastify__close-button > svg {
  color: #eb0729 !important;
}
.Toastify__close-button:hover {
  color: #eb0729 !important;
}
.Toastify__close-button:focus {
  color: #eb0729 !important;
}





.collectionInfo {
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.collectionInfo h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
}

.collectionInfo span {
  font-size: 13px;
  color: #888;
}
