.createTop {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.createTop h1 {
  font-size: 20px;
  font-weight: 500;
}

.createTop button {
  background-color: #e50829;
  color: white;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 15px;
}

.createTop button {
  background-color: #c1011e;
}

.createBottom {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 64px;
}

.upload {
  background-color: #e9e9e9;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  border: 2px dashed #dddddd;
  width: 375px;
  height: 574px;
  padding: 16px;
  position: relative;
}

.uploadTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.uploadInfo {
  position: absolute;
  bottom: 32px;
  font-size: 13px;
  text-align: center;
  color: gray;
}

.preview {
  width: 375px;
  position: relative;
}

.preview img{
  border-radius: 32px;
  width: 100%;
}

.editIcon{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.createForm {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 584px;
}

.createFormItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.createFormItem label {
  font-size: 13px;
  color: gray;
}

.createFormItem input,
textarea,
select {
  font-size: 15px;
  border: 2px solid #e9e9e9;
  padding: 16px;
  border-radius: 16px;
}

.createFormItem textarea {
  resize: none;
}

/* FIXED: SELECT OR ADD BOARD */
.newBoard {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.newBoardContainer {
  flex: 1;
  display: flex;
}

.newBoardItem {
  padding: 8px;
  border-radius: 12px;
  background-color: #e9e9e9;
  font-size: 13px;
  cursor: pointer;
}

.createBoardButton {
  background-color: #e50829;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 13px;
  width: max-content;
  align-self: flex-end;
}

.boardForm {
  height: 100vh;
  width: 100vw;
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* ensure it overlays everything */
}

.boardFormContainer {
  background-color: white;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: 500px;
}

.boardFormClose {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;

}
.cancel-svg{
  width: 25px;
  height: 25px;
}

.boardFormContainer form {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.boardFormContainer h1 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.boardFormContainer input {
  border: 2px solid #e9e9e9;
  border-radius: 16px;
  padding: 16px;
  font-size: 15px;
}

.boardFormContainer button {
  background-color: #e50829;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
  font-size: 16px;
}
small {
  color: #a6a6a6;
  font-size: 13px;
}

@media (max-width: 1104px) {
  .createBottom {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
  }
}
@media (max-width: 768px) {
  .createForm {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .upload {
    width: 100%;
  }
}


.iconStyle {
  background-color: white;
  color: black;
  font-weight: bolder;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 4px;
  align-items: center;
}

.imageActions {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.changeImageBtn,
.removeImageBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bolder;
}

.changeImageBtn {
  background-color: #eb0729;
  color: #ffffff;
}


