.postPage {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 20px;
}

.postContainer {
  width: 100%;
  max-height: 820px;
  display: flex;
  border: 1px solid #e9e9e9;
  border-radius: 32px;
  overflow: hidden;
}



.postImg img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  z-index: 0;
  background-color: #f9f9f9; 
}

.postDetails {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  overflow: hidden;
}

.postUser {
  display: flex;
  align-items: center;
  gap: 8px;
}

.postUser img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.postUser span {
  font-size: 14px;
}

@media (max-width: 1127px) {
  .postContainer {
    width: 100%;
    margin-right: 16px;
  }
}
@media (max-width: 751px) {
  .postContainer {
    flex-direction: column;
    max-height: unset;
  }
  .hide{
    display: none;
  }
}
