.galleryItem {
  display: flex;  
   flex-direction: column; 
  position: relative;
  width: 100%;
  break-inside: avoid;
   overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background: #fff;
}  

.galleryItem img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  z-index: 0;
  background-color: #f9f9f9; 
}
.overlay,
.saveButton,
.overlayIcons {
  display: none;
}

.galleryItem:hover .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}

.galleryItem:hover .saveButton {
  display: block;
  background-color: #e50829;
  color: white;
  border-radius: 24px;
  padding: 12px 16px;
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
}

.galleryItem:hover .overlayIcons {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.overlayIcons button {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.overlayIcons button img {
  width: 20px;
  height: 20px;
}

.overlayIcons button:hover {
  background-color: #f1f1f1;
}




.moreDropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 36px;
  background: white;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 8px;
  z-index: 99999999;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
}

.dropdownMenu div {
  padding: 10px 16px;
  cursor: pointer;
}

.dropdownMenu div:hover {
  background-color: #f0f0f0;
}
